html, body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	background-image: url("intro.svg");

}

@keyframes rainbow {

	0%{background-color: red;}
	14%{background-color: orange;}
	28%{background-color: yellow;}
	42%{background-color: green;}
	56%{background-color: blue;}
	70%{background-color: purple;}
	80%{background-color: black;}
}

@keyframes change{
0%{transform: translateX(-100px);}
50%{transform: translate(100px);}

}
#blue{
	animation-name:rainbow;
	animation-duration: 10s;
}
.dropbtn {
	border: none;
	padding: 16px;
	font-size: 16px;
	background-color: Black;
	color: white;

}
.dropdown {
	position: relative;
	display: inline-block;identifier
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: gray;
	min-width: 160px;


}

.dropdown:hover .dropdown-content{
	display: block;
}
.dropdown-content a {
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

p {
	/*TODO: Change the color of paragraph texts*/
	color: grey;

}

h1 {
	/*TODO: Change the color of h1 text*/
	color: darkgray;
	font-family:'Holtwood One SC';
	animation-name:change;
	animation-duration:10s;
	animation-iteration-count: infinite;
}

img {
	border-radius: 25px;
	max-width: 100%;
}
.brown {
	/*TODO: Change the color of text to brown*/
	color: brown;
}

#page-wrapper {
	padding: 0 10% 0 10%;
}

#page-wrapper > * {
	padding: 50px;
	margin: auto;
	height: auto;
}


#blue {
	/*TODO: Change the background color to blue*/
	background-color: lightblue;
}

#doubleyellow {
	display: inline-block;
	/*TODO: Change the background color to yellow*/
	background-color: lightyellow;
}

#doubleyellow > img  {
	width: 45%;
	margin: 0 20px 0 20px;
}

#green {
	/*TODO: Change the backgrond color to green*/
	background-color: lightgreen;
}

#yellow {
	/*TODO: Change the background color to yellow*/
	background-color: lightyellow;
}

#white {
	/*TODO: Change the background color to white*/
	background-color:white;
}

#white > img {
	width: 30.3%;
}

#content_holder {
	display: inline-block;
	/*TODO:; change the background color to green*/
	background-color:lightgreen;
}

.content {
	width: 44.5%;
	float: left;
	margin: 2%;
	padding: 5px;
	background-color: #f0f0f0;
}
